<h1>Here is your room detail.</h1>




{{!-- 
<img src="{{oneRoomData.imageUrl.0}}" alt="room-image" width="200">
<img src="{{oneRoomData.imageUrl.1}}" alt="room-image" width="200">
<img src="{{oneRoomData.imageUrl.2}}" alt="room-image" width="200">

 --}}





