<div class="index-landing">
<header>
  <img src="/images/logo-text.png" alt="logo">
 
  <nav>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </nav>
</header>

<section id="search-index">
  <form class="form-container-search-index" action="/room-search" method="GET">
    <div class="">
      <select class="select-search-index" name="searchByCity" >
        <option value="Berlin">Berlin</option>
        <option value="Cologne">Cologne</option>
        <option value="Frankfurt">Frankfurt</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Munich">Munich</option>
        <option value="Stuttgart">Stuttgart</option>
        <option value="" selected>Where are you looking for a room?</option>
      </select>
    </div>
    <div class="">
      <button type="submit" class="btn-submit-search-index">Search rooms</button>
    </div>
    </div>
  </form>
</section>
</div>
