<div class="form-landing">
<div class="form-container-login">
  <form action="/login" method="POST">
    <label for="email">E-Mail:</label>
    <input type="text" name="email" placeholder="E-Mail" required>

    <label for="password">Password:</label>
    <input type="password" placeholder="Password" id="password" name="password" required>

    <button type="submit" class="btn-submit">Login</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<div class="form-bg">
  <img class="signup-bg" src="/images/buildings-photo.jpg">
</div>
</div>