<div style="padding: 3rem;">
  <div class="profile-pic">
    <img class="pb-pic" src="{{oneUserData.imageUrl}}" alt="profile-image" width="200">
  </div>
  <h1>Hey, {{oneUserData.firstName}} {{oneUserData.lastName}}! 
    <br/> Now you can...
    </h1>
  {{!-- <br/>This is your login Email: {{oneUserData.email}}</h1> --}}
</div>
<div style="padding-left: 3rem;">
<h1>  <a href="/all-rooms">Search rooms&nbsp; &nbsp; </a>
  <a href="/add-room">Rent out my room</a></h1>
</div>