<h1>Hi {{oneUserData.firstName}} {{oneUserData.lastName}}! You have created your account!
<br/>This is your login Email: {{oneUserData.email}}</h1>
<img src="{{oneUserData.imageUrl}}" alt="profile-image" width="200">
<a href="/rooms/index">Search rooms</a>