body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-landing {
  display: flex;
}

.form-container-signup {
  width: 35%;
  margin: 0 auto;
  background-color: #DDE0BD;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
}

.form-container-login {
  width: 35%;
  margin: 0 auto;
  background-color: #88CCF1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
}

.container-index {
  padding-left: 3rem;
  padding-right: 3rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form>* {
  width: 100%;
}

.form-bg {
  width: 65%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.header-landing {
  position: absolute;
  top: 20%;
  right: 20%;
  margin: 0 auto;
  color: #1A281F;
  font-size: 1.5rem;
}

img {
  flex-shrink: 0;
}

input[type=text],
select {
  padding: 1rem;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

input[type=password],
select {
  padding: 1rem;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

input[type=submit] {
  background-color: #f3f3f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

a {
  color: #00b7ff;
}

.inputfield {
  padding: 1rem;
  width: 20%;
  background-color: #f3f3f3;
  border-radius: 6px;
}

.signup-bg {
  object-fit: fill;
}

.btn-submit {
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: maroon;
}

.navbar {
  text-align: center;
  padding: 1rem;
}

.results {
  display: flex;
  overflow-x: hidden;
}

.room-tile {
  background-color: #f3f3f3;
  width: 400px;
  min-width: 400px;
  padding: 1rem;
  border-radius: 10px;
}

.room-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.thumbnail-parent {
  border-radius: 10px;
  padding-bottom: 1rem;
}

.thumbnail {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}


/* Wen Css */
header>img {
  height: 55px;
  margin-left: 7px
}

nav>a {
  text-decoration: none;
  font-size: 1.6em;
  color: #55b0b0;
  font-weight: lighter;
  margin-right: 30px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 12px 20px;
}

#search-index {
  font-size: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url(/images/index-bg.jpg);
  background-position: 0 0;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  position: relative;
}

.text-next-logo {
  font-size: 3em;
  font-family: 'Pacifico';
  margin-left: -800px;
  color: #67c5c5;

}

.btn-submit-search-index {
  border-radius: 10px;
  background-color:  #67c5c5;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  width:257px;
}

.btn-submit-search-index:hover {
  cursor: pointer;
  background-color: #15f9f9;
}

.form-container-search-index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-10%;
  padding: 41%;
  box-sizing: border-box;
}



