body {
  font: 14px 'Quicksand', sans-serif;
  margin: 0;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* background-color: #f3f3f3; */
  background-color:rgb(233,238,238);

}

.form-landing {
  display: flex;
  height: 90vh;
}

.form-container-signup {
  width: 35%;
  margin: 0 auto;
  background-color:rgba(77,170,179,0.2);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
}

.form-container-login {
  width: 35%;
  margin: 0 auto;
  background-color: rgba(77,170,179,0.2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
}

.container-index {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color:rgb(233,238,238);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-pic {
  border-radius: 99px;
  padding-bottom: 1rem;
}

.pb-pic {
  border-radius: 99px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

form>* {
  width: 100%;
}


.form-add-room-landing {
  display: flex;
  /* margin-top:10vh; */
  /* height: 90vh; */
  /* align-items:center; */
}

.add-form {
 padding-left:2rem;
 padding-right:2rem;
 padding-bottom:2rem;
  margin-left:3rem;
  /* max-width: 50%; */
  width:30%;
  background-color:rgb(233,238,238);
  
}
.add-form-bg-left{
  width:30%;
  margin-left:1%;

}
.add-form-bg-right{
  width:30%;
  margin-right:7.5%;

}







.form-bg {
  width: 65%;
  overflow: hidden;
  height: 90vh;
  position: relative;
}

.header-landing {
  position: absolute;
  top: 20%;
  right: 20%;
  margin: 0 auto;
  color: #1A281F;
  font-size: 1.5rem;
}

img {
  flex-shrink: 0;
}

.create-form {
  max-width: 500px;
  display: flex;
  padding-left: 3rem;
}

input[type=text],
select {
  padding: 1rem;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

input[type=password],
select {
  padding: 1rem;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

input[type=submit] {
  background-color: #f3f3f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

input[type=tel] {
  background-color: #ffffff;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: block;
  padding: 1rem;
  box-sizing: border-box;

  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

input[type=number] {
  background-color: #ffffff;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
}

input[type=date] {
  background-color: #ffffff;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px 0;
  border-style: none;
}

a {
  color: rgb(77,170,179);    
}

.inputfield {
  padding: 1rem;
  width: 20%;
  background-color: #f3f3f3;
  border-radius: 6px;
}

.signup-bg {
  object-fit: fill;
}

.btn-submit {
  border-radius: 10px;
  background-color: rgb(77,170,179);
  color: white;
  font-weight: bold;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
}

.btn-submit:hover {
  cursor: pointer;
  background-color:  #15f9f9;
}

.navbar {
  text-align: center;
  padding: 1rem;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.room-tile {
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  margin-top: 1.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
}

.thumbnail-parent {
  border-radius: 10px;
  padding-bottom: 1rem;
}

.thumbnail {
  border-radius: 10px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.room-facts {
  padding: 0.5rem;
}

.room-title {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.room-rent {
  font-size: 1rem;
  color: #3C4F76;
}

.room-sqm {
  font-weight: 900;
}

header>a>img {
  height: 60px;
  margin-left: 12px
}

nav>a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 1.6em;
  color: rgb(77,170,179);
  margin-right: 30px;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:white;
  width:100%;
  justify-content:space-between;
}
.index-landing{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#search-index {
  font-size: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url(/images/index-bg.jpg);
  background-position: 0 0;
  height: 90vh;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.btn-submit-search-index {
  border-radius: 10px;
  background-color:  #67c5c5;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 1rem;
  font-size:0.45em;
  border: none;
  margin-top: 1rem;
  width:407px;
}

.btn-submit-search-index:hover {
  cursor: pointer;
  background-color: #15f9f9;
}

.form-container-search-index {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-right: 20%;
  padding-left: 36%;
  box-sizing: border-box;
}

.select-search-index{
  padding: 1rem;
  padding-left:4rem;
  padding-right:4rem;
  border: 1.5px solid lightgray;
  
  border-radius: 10px;
  box-sizing: border-box;
  /* border: none; */
  font-size:0.4em;
}

/* CSS room detail */

.roomDetail{
  line-height:20px;
  display: flex;
  flex-direction:column;
  /* justify-content:flex-start; */
 padding-left:420px;
 padding-right:420px;
 padding-bottom:55px;
  /* align-items: center; */
}



.room-container {
  padding-top: 2rem;
  max-width: 50%;
 
  display: flex;
  flex-direction:column;
  /* justify-content: center; */
  align-items: center;
}
.w3-button{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top:-25px;
}


.contact-owner{
display:flex;
justify-content:flex-start;
}

.back-link{
  padding-bottom:60px;
margin-left:620px;

}

.titleimg {
  border-radius: 10px;
  object-fit: cover;
}

.roomTitle {
  font-size: 1.5rem;
}

.roomRent {
  color: #3C4F76;
  font-size: 1rem;
}

.form-container-search-roomsindex{
  /* background-color: rgb(233,238,238); */
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-10%;
  padding-right: 20%;
  padding-left: 0%;
  margin-top: -25vh;
  margin-bottom: -32vh;
  box-sizing: border-box;
}
.btn-submit-search-roomsindex {
  border-radius: 10px;
  background-color:  #67c5c5;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 1rem;
  border: none;
  margin-top: 1rem;
  width:257px;
}
.btn-submit-search-roomsindex:hover {
  cursor: pointer;
  background-color: #15f9f9;
}
.to-add-room{
  padding-left: 60px;
}

.room-detail-pic {
  border-radius: 10px;
  padding-bottom: 1rem;
}

.mySlides {
  border-radius: 10px;
  width: 800px;
  height: 400px;
  object-fit: cover;
  
}

